<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=.;Database=ExchangeOffice;Trusted_Connection=True;" />
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="sqlString"
		 connectionString="Server=CMDB-119979;Database=ExchangeOffice;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>