<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="currentDate" value="17.12.2021 0:00:00" />
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="sqlString"
			connectionString="Server=CMDB-119979;Database=ExchangeOffice;Trusted_Connection=True;" 
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>